<html>
	<head>
		{% if title %}
		<title>{{ title }} - Team Builder</title>
		{% else %}
		<title>Team Builder</title>
		{% endif %}
	</head>
	<body style="font-size: 20px">
		<div class="header" style="text-shadow: 1px 1px 0px #165dce; height:30px"><strong>Team Builder</strong> |  
			<a href="{{ url_for('index') }}">Home</a> ∙
			{% if username %}
			{% if profile %}
			<a href="{{ url_for('profile') }}">Your Profile</a> ∙
			<a href="{{ url_for('matches') }}">Your Matches</a> ∙
			Messages ∙
			{% else %}
			<a href="{{ url_for('prefs') }}">Customize Your Profile</a> ∙
			{% endif %}
			
			<a href="{{ url_for('logout') }}">Logout</a>
			{% else %}
			<a href="{{ url_for('login') }}">Login</a> ∙
			<a href="{{ url_for('register') }}">Register</a> 
			{% endif %}
		<hr>
		</div>
			{% block content %}{% endblock %}
	</body>
</html>