<html>
	<head>
		{% if title %}
		<title>{{ title }} - Team Builder</title>
		{% else %}
		<title>Team Builder</title>
		{% endif %}
	</head>
	<body>
		<div style="font-size: 19px">Team Builder |  
			<a href="{{ url_for('index') }}">Home</a> ∙
			{% if username %}
			<a href="{{ url_for('prefs') }}">Your Profile</a> ∙
			<a href="{{ url_for('matches') }}">Matches</a> ∙
			Messages ∙
			<a href="{{ url_for('logout') }}">Logout</a>
			{% else %}
			<a href="{{ url_for('login') }}">Login</a> ∙
			<a href="{{ url_for('register') }}">Register</a> 
			{% endif %}
		<hr>
		</div>
			{% block content %}{% endblock %}
	</body>
</html>