<!DOCTYPE html>
<html>
<head>
	<title>Home | Team Builder</title>
</head>
<link rel="stylesheet" type="text/css" href="static/styles.css">
<body>
{% extends "base.html" %}
	
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
      <h3 style="color:green">{{ messages[0] }}</h3>
    </ul>
  {% endif %}
{% endwith %}
<br><br><br><br>
	{% if username %}
			<div style="text-align: center">
				<br>
				<div class="header" style="font-size: 50px;height:80px">Welcome, {{username}}!</div>
				<br><br>
				{% if profile %}
					<div class="grid-container">
						<div class="grid-item">
							<a href="{{ url_for('profile') }}"><button><strong style="font-size: 28px">Your Profile</strong></button></a>
						</div>
						<br><br>
						<div class="grid-item">
							<a href="{{ url_for('matches') }}"><button><strong style="font-size: 28px">Your Matches</strong></button></a>
						</div>
					</div>
				{% else %}
					<p>You haven't built your profile yet. Fill out your preferences to get your matches now!</p>
					<br>
					<a href="{{ url_for('prefs') }}"><button><p style="font-size: 28px"><strong>Customize Your Profile</strong></p></button></a>
				{% endif %}
			</div>
	{% else %}
	<div>
		<div style="text-align: center">
			<div class="header" style="font-size: 50px;height:80px">Team Builder</div>
			<div class="header" style="font-size:28px;height:60px">Ready to find your dream team? Let's get started.</div>
			<div>
				<div>
					<a href={{ url_for('login') }}><button style="height:90px;width:185px"><strong style="font-size: 28px">Log In</strong></button></a>
				</div>
				<br><br>
				<div>
					<a href={{ url_for('register') }}><button style="height:90px;width:185px"><strong style="font-size: 28px">Register</strong></button></a>
				</div>
			</div>
			<br><br><br>
		</div>

	</div>
	{% endif %}
{% endblock %}
</body>
</html>