<!DOCTYPE html>
<html>
<head>
	<title>Team Builder</title>
</head>
<body style="background-color: #4286f4">
{% extends "base.html" %}
	
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
      <h3 style="color:green">{{ messages[0] }}</h3>
    </ul>
  {% endif %}
{% endwith %}

	{% if username %}
			<div style="text-align: center; color:white; text-shadow: #0856d3 3px 3px; font-size: 30px">
				<br>
				<h1>Welcome, {{username}}!</h1>
			</div>
	{% else %}
	<div>
		<br><br><br><br><br><br>
		<div style="text-align: center">
			<h1 style="color: white; text-shadow: 4px 4px #0761f2;font-size: 50px">Team Builder</h1>
			<h2 style="color: white; text-shadow: 3px 3px #0761f2;font-size: 28px">Ready to find your dream team? Let's get started.</h2>

			<a href={{ url_for('login') }}><button style="height:50px;width:100px"><h2>Log In</h2></button></a>
			<br><br>
			<a href={{ url_for('register') }}><button style="height:50px;width:100px"><h2>Register</h2></button></a>
			<br><br><br>
		</div>

	</div>
	{% endif %}
{% endblock %}
</body>
</html>