<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="static/styles.css">
	<title>Team Builder</title>
</head>
<body>

{% extends "base.html" %}
	
{% block content %}

<div style="text-align: center">
<br><br><br><br><br><br><br>

<div class="header" style="font-size: 40px;height: 60px">Log in</div>
<div class="header" style="font-size: 20px;height: 40px"><a href={{ url_for('register') }}>New user? Register here!</a></div>

{% if error %}
	<p style="color:red">{{ error }}</p>
{% endif %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
      <h3 style="color:green">{{ messages[0] }}</h3>
    </ul>
  {% endif %}
{% endwith %}

<div style="font-size: 30px">
	<form method="POST">
		<div class="header" style="height:40px">Username
			<input type="text" name="username" required>
		</div>
		
		<div class="header" style="height:55px">
			Password
		<input type="password" name="password" required>
		</div>
		
		<!-- <input type="submit" style="font-size: 20px"> -->
		<button type="submit" style="font-size: 18px; width:80px;height:40px;border-radius: 10px;">Submit</button>
	</form>
</div>
</div>
{% endblock %}

</body>
</html>