<!DOCTYPE html>
<html>
<head>
	<title>Your Matches</title>
</head>
<body>
{% extends "base.html" %}
	
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
      <h3 style="color:green">{{ messages[0] }}</h3>
    </ul>
  {% endif %}
{% endwith %}

{% if message %}
	{% for message in message %}
		<h1 style="text-align: center">{{ message }}</h1>
	{% endfor %}
{% else %}
<h1>Here are your potential teammates, {{ username }}!</h1>
<h2>{{ num }} results</h2>
<div style="font-size: 32px">

<table border = 1>
{% for match in matches %}
	<tr>
		<td>
			User: <a href={{ url_for('profile', username = match[2]) }}><strong>{{ match[2] }}</strong></a>
		</td>

		<td>
			{{ mydict[match[0]]|length }} matches: 
			{% for i in range(0, mydict[match[0]]|length - 1) %}
				{{ mydict[ match[0] ][i] }},
			{% endfor %}
			{{ mydict[match[0]][mydict[match[0]]|length - 1] }}
		</td>
	{% endfor %}
	</tr>
</table>

</div>
{% endif %}

{% endblock %}
</body>
</html>