<!DOCTYPE html>
<html>
<head>
	<title>Update Your Preferences</title>
</head>
<body>
{% extends "base.html" %}
	
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
      <h3 style="color:green">{{ messages[0] }}</h3>
    </ul>
  {% endif %}
{% endwith %}

<h1>Your Matches</h1>
<div style="font-size: 32px">
<ul>
	<li>If user has not filled out form yet, don't want this page to show up tbh</li>
	<li>For now, before form is filled out, just have link to form + 'fill out your prefs to get your matches'</li>
</ul>
</div>

{% endblock %}
</body>
</html>