<!DOCTYPE html>
<html>
<head>
	<title>Your Matches</title>
</head>
<body>
{% extends "base.html" %}
	
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
      <h3 style="color:green">{{ messages[0] }}</h3>
    </ul>
  {% endif %}
{% endwith %}

{% if message %}
	{% for message in message %}
		<h1 style="text-align: center">{{ message }}</h1>
	{% endfor %}
{% else %}
<h1>Here are your potential teammates, {{ username }}!</h1>
<h2>{{ numResults }} results</h2>
<div style="font-size: 32px">

<table border = 1>
{% for key, value in results.items() %}
	<tr>
		<td>
			User: <a href={{ url_for('profile', username = key) }}><strong>{{ key }}</strong></a>
		</td>

		<td>
			{{ value|length }} matches: 
			{% for i in range(0, value|length - 1) %}
				{{ value[i] }},
			{% endfor %}
			{{ value[value|length - 1] }}
		</td>
	</tr>
{% endfor %}
</table>

</div>
{% endif %}

{% endblock %}
</body>
</html>