<!DOCTYPE html>
<html>
<head>
	<title>Your Profile</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}

	<h1>Your Profile</h1>

	<h1>{{ username }}</h1>

	{% if profilePage %}

		<h2>Hackathon</h2>

			{{ profilePage[0][0] }}

		Project Description

			{{ profilePage[1][0] }}

		<h2>Technologies</h2>

			{% for i in profilePage[2] %}
				<ul>
					<li>{{ profilePage[2][i] }}</li>
				</ul>
			{% endfor %}

		<h2>Interests</h2>

			{% for i in profilePage[3] %}
				<ul>
					<li>{{ profilePage[3][i] }}</li>
				</ul>
			{% endfor %}

		<h2>Languages</h2>

			{% for i in profilePage[4] %}
				<ul>
					<li>{{ profilePage[4][i] }}</li>
				</ul>
			{% endfor %}

		<h2>Hardware</h2>

			{% for i in profilePage[5] %}
				<ul>
					<li>{{ profilePage[5][i] }}</li>
				</ul>
			{% endfor %}

		<h2>Experience Level</h2>

			{{ profilePage[6][0] }}

		<h2>Competing?</h2>

			{{ profilePage[7][0] }}

		<h2>Github</h2>

			{{ profilePage[8][0] }}

		<h2>Resume</h2>

			{{ profilePage[9][0] }}

	{% endif %}


{% endblock %}
</body>
</html>